/* About Container Styles */
.about {
  background-color: #FFF8F3;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* About Content Styles */
.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* About Image Styles */
.about-image {
  width: 60%; /* Adjust width as needed */
  height: 80%; /* Ensure aspect ratio is maintained */
  border-radius: 8px;
  margin-right: 20px; /* Space between image and text */
}

/* About Text Styles */
.about-text {
  flex: 1; /* Takes up remaining space */
  padding: 20px;
}

/* Heading Styles */
.about-text h1 {
  font-size: 36px;
  color: #694F8E;
  margin-bottom: 20px;
}

/* Paragraph Styles */
.about-text p {
  font-size: 18px;
  color: #433D8B;
  margin-bottom: 20px;
}

/* Social Icons Styles */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  color: #694F8E;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ffdfd6;
}
