@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Work Sans', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  overflow: auto;
  flex-direction: column;
  min-height: 100%;
}

.main-content {
  flex: 1; /* Main content takes up remaining space */
}

.footer {
  flex-shrink: 0; /* Prevents the footer from shrinking */
}

.home-container {
  background-image: url('../Asserts/images/wbackground.png'); /* Replace with your background image URL */
  background-size: 60%;
  background-position: right;
  background-color: rgb(232, 197, 229);
  min-height: 100vh; /* Ensure it covers the full viewport height */
  width: 100%;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  justify-content: center;
  color: #070007; /* Adjust text color as needed */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 180px; /* Added padding to prevent overflow issues */
  box-sizing: border-box; /* Include padding in the height */
}

.home-container h1 {
  margin-bottom: 20px;
}

.home-container button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Button color */
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.home-container button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

.home-container a {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
